<div class="all-forms" id="login-form">
  <h4>Please Login</h4>
  <%= render partial: "shared/error_box", locals: {errors: @errors}  %>
  <br>
  <%= form_for :session, url: login_path do |f| %>
    <div class = "input-field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class = "input-field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit "Login"%>
  <% end %>
</div>