<div class='events-page-container'>
  <%= render partial: "shared/event_show_side_bar" %>
  <div class='events-show-container'>
    <%= render partial: "shared/event_show_header", locals: {event: @event, user: current_user} %>
    <div class="new-guest-container">
      <h3>Add a guest here:</h3>
      <p class="warning">Will our illustrious host be attending the event? If so, be sure to add yourself to the guest list.</p>
      <br>
      <% if @edit %>
        <%= render partial: "guests/edit", locals: {guest: @guest} %>
      <% else %>
        <%= render partial: "guests/new", locals: {guest: @guest} %>
      <% end %>
    </div>
    
    <div class="all-guests-container">
      <div id="left-column">
        <% @guests[0...(@guests.length / 2)].each do |guest| %>
          <%= render partial: "guests/show", locals: {guest: guest} %>
        <% end %>
      </div>
      <div id="right-column">
        <% @guests[(@guests.length / 2)..@guests.length].each do |guest| %>
          <%= render partial: "guests/show", locals: {guest: guest} %>
        <% end %>
    </div>
  </div>
</div>
