<div class='event-show-side-bar'>
	<div class='logo'>
		<%= image_tag "logo.png", id: "side-nav-logo" %>
	</div>
	<%= link_to "Event Details", edit_event_path(current_event), class: "side-bar-link" %>
	<%= link_to "Guest List", guests_path, class: "side-bar-link"  %>
	<%= link_to "Requirements", pairings_path, class: "side-bar-link" %>
	<%= link_to "Seating Chart", event_path(current_event), class: "side-bar-link" %>
  <%= link_to "Back to My Events", events_path, class: "side-bar-link" %>
	<%= link_to "Logout", logout_path(current_user), class: "side-bar-link", method: :delete  %>
</div>


