<nav class="events-index-nav">
  <div class="logo"><%= image_tag "logo.png" %></div>
  <div class="button" id="logout"><%= link_to 'Logout', logout_path(current_user), :method => :delete %></div>
  <div class="button" id="new-event"><%= link_to 'Create a New Event', new_event_path %></div>
</nav>
<div class="event-index-container">
  <h1>Welcome, <%= @user.username %></h1>
  <div class="events-index-container">
  	<h3>Your Events</h3>
    <div id="events-calendar"></div>
  	<% @events.each do |event| %>
  		<table id="event-list">
  			<tr>
          <td><%= link_to("#{event.name}", event) %></td>
          <td><%= link_to 'Delete Event', event_path(event), method: :delete, confirm: 'Are you quite sure you wish to delete this event?' %></td>
        </tr>
  		</table>
  	<% end %>
  </div>
</div>