<nav class="events-index-nav">
  <div class="logo"><img src="../../assets/images/logo.png"></div>
  <div class="button" id="new-event"><%= link_to 'Create a New Event', new_event_path %></div>
  <div class="button" id="logout"><%= link_to 'Logout', logout_path(current_user), :method => :delete %></div>
</nav>
<div class="event-index-container">
  <h1>Welcome, <%= @user.username %></h1>
	<h3>Your Events</h3>
	<% @events.each do |event| %>
		<table id="event-list">
			<tr>
        <td><%= link_to("#{event.name}", event) %></td>
        <td><%= link_to 'Delete Event',   method: :delete, data: { confirm: 'Are you quite sure you wish to delete this event?' } %></td>
      </tr>
		</table>
	<% end %>
</div>