
<script src="http://d3js.org/d3.v3.min.js"></script>

<%= link_to 'Logout', logout_path(current_user), :method => :delete %>
<p>Event Host: <strong><%= @user.username %></strong></p>
<%= link_to 'Add Guest', new_guest_path %>

<h1><%= @event.name %></h1>
<div class="floor-plan">
  <% num_of_tables = 6 %>
  <% seats_per_table = 7 %>
  <% counter = 1 %>
  <% num_of_tables.times do %>
     <div class="tables" id="table-<%= counter %>"></div>
    <% counter += 1 %>
  <% end %>
</div>

<script>
// var test = d3.select("h1")
  // .style("background-color", "blue")

var seatsPerTable = <%= seats_per_table %>;
// console.log(seatsPerTable);
var rotationFactor = Math.floor(360 / seatsPerTable);

var svg = d3.selectAll('.tables').append('svg')
  .attr("width", 150)
  .attr("height", 150);
var originX = 75;
var originY = 75;
var tableRadius = 40;
var chairsRadius = 55;
var chairWidth = 15;

var table = svg.append("circle").attr({
  cx: originX,
  cy: originY,
  r: tableRadius,
  fill: "#595AB7"
});

var chairOriginX = originX + (chairsRadius * Math.sin(0));
var chairOriginY = originY - (chairsRadius * Math.cos(0));

svg.append("rect").attr({
    x: chairOriginX - (chairWidth / 2),
    y: chairOriginY - (chairWidth / 2),
    width: chairWidth,
    opacity: 1,
    height: chairWidth,
    fill: "none",
    stroke: "#C61C6F"
});

var rotation = 0;

for (i = 1; i < seatsPerTable; i++) {
    var currentChair = svg.append("rect").attr({
        x: chairOriginX - (chairWidth / 2),
        y: chairOriginY - (chairWidth / 2),
        width: chairWidth,
        opacity: 1,
        height: chairWidth,
        fill: "none",
        stroke: "#C61C6F"
    });

    rotation += rotationFactor;
    currentChair.attr("transform", "rotate(" + rotation + ", " + originX + ", " + originY + ")");
}

</script>

