<%= link_to 'Logout', logout_path(current_user), :method => :delete %>
<p>Event Host: <strong><%= @user.username %></strong></p>
<%= link_to 'Add Guest', new_guest_path %>

<h1><%= @event.name %></h1>
<div class="floor-plan">
  <% seats_per_table = @number_of_seats %>
  <% counter = 1 %>
  <% @num_of_tables.times do %>
    <svg class="event-table" id="table-<%= counter %>"></svg>
    <% counter += 1 %>
  <% end %>
</div>

<script>
    var numOfTables = <%= @num_of_tables %>
    var seatsPerTable = <%= seats_per_table %>
</script>

<div><%= @tables[0].guests[0].first_name %> <%= @tables[0].guests[0].last_name %></div>

<%= javascript_include_tag "event-layout.js" %>
