<div class='events-page-container'>
	<%= render partial: "shared/event_show_side_bar" %>
	<div class='events-show-container'>
		<div class='events-show-header'>
			<h1 class="event-name"><%= @event.name %></h1>
			<p>Event Host: <strong><%= @user.username %></strong></p>
		</div>
		<div class="events-show-floor-plan">
		  <% seats_per_table = @number_of_seats %>
		  <% counter = 1 %>
		  <% @num_of_tables.times do %>
		    <svg class="event-table" id="table-<%= counter %>"></svg>
		    <% counter += 1 %>
		  <% end %>
		</div>
	</div>
</div>

<%= javascript_include_tag "event-layout.js" %>

