<div class='event-page-container'>
	<%= render partial: "shared/event_show_side_bar" %>
	<div class='event-show-container'>
		<div class='event-show-header'>
			<h1 id="event-name"><%= @event.name %></h1>
			<p id="event-host">Event Host: <strong><%= @user.username %></strong></p>
			<p><%= link_to("Update Seating Chart", "/seating/events/#{@event.id}") %></p>
		</div>
		<div class="event-show-floor-plan">
		  <% seats_per_table = @number_of_seats %>
		  <% counter = 1 %>
		  <% @num_of_tables.times do %>
		    <svg class="event-table" id="table-<%= counter %>"></svg>
		    <% counter += 1 %>
		  <% end %>
		</div>
	</div>
</div>

<%= javascript_include_tag "event-layout.js" %>

